header {
  border-bottom: 1px solid rgb(15, 15, 15);
}
.bg {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.main h1 {
  font-weight: 900;
}
.main p {
  font-size: 28px;
  font-weight: 100;
}
.mainColorShadow {
  color: white;
  text-shadow: 5px 5px 10px #a36f00;
}
.mainColor {
  color: #a36f00;
}
.color2 {
  color: #f9e4bc;
}
.event {
  height: 158px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events {
  background-color: rgba(13, 12, 12, 0.29);
  border-radius: 20px;
  padding: 10px 30px;
}
.event p {
  font-size: 14px;
}
.event h4 {
  font-size: 21px;
}
.timer {
  background-image: linear-gradient(70deg, #f9e4bc 0%, #a36f00 100%);
  color: white;
}

.timer button {
  background-color: #a36f00;
  border: none;
}
.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.78);
  padding: 20px;
}
.timer h3 {
  font-weight: 900;
}
.learn h1,
.who h1,
.about h1 {
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  margin-bottom: 40px;
}
.learn-content {
  background-color: #a36f0038;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.learn-content:hover {
  box-shadow: 2px 2px 10px 5px rgba(189, 175, 16, 0.684);
}
.learn .col-12 {
  margin-bottom: 30px;
}
.who {
  background-image: linear-gradient(70deg, #f9e4bc 0%, #a36f00 100%);
  color: white;
}

.for {
  height: 100%;
  background-color: white;
  text-align: center;
  color: #212529;
  padding: 30px 10px;
  border-radius: 20px;
}
.for img {
  width: 25%;
}
.who .col-12 {
  margin-bottom: 30px;
}
.about h1 {
  margin-bottom: 10px;
}
.about h3 {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 40px;
}
.about p {
  text-align: justify;
}
@media (max-width: 600px) {
  .main p {
    font-size: 14px;
    font-weight: 100;
  }
}
.learn .for{
  text-align: start;
  padding: 20px 30px;
}
.learn .for h3 {
  color: #a36f00;
  font-size: 44px;
}
.learn .for p {
  color: #000000;
}

.accordion button{
  background-color: #f9e4bc9e;
}
.accordion-item{
  margin-bottom: 10px;
}
footer{
  background-color: #f9e4bc;
  color: #000000;
}